.login-page-wrap .btns {
  width: 96%;
  margin: 0 auto;
  margin-top: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.login-page-wrap .rem {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}
.login-page-wrap .icon-rem {
  display: inline-block;
  border-radius: 50%;
  width: 0.3rem;
  height: 0.3rem;
  position: relative;
  background: #fff;
  border: 2px solid #66686A;
  margin-right: 0.1rem;
}
.login-page-wrap .icon-rem.cur {
  background: #152444;
  border-color: #152444;
}
.login-page-wrap .btn-login {
  width: 3.2rem;
  height: 1.32rem;
  background: url('../image/login/login-btn.png') no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%;
  text-align: center;
  line-height: 0.9rem;
  color: #fff;
  font-size: 0.34rem;
  border-radius: 0.12rem;
}
.login-page-wrap .c-blue {
  color: #2C65E7;
}
.login-page-wrap .login-wrap .login-form {
  background: #fff;
  border-radius: 0.2rem;
  padding: 0.5rem 0.3rem;
  width: 86%;
  margin: 0 auto;
  margin-top: -3rem;
  box-shadow: 0 0 8px #E3E3E3;
  position: relative;
  min-height: 4rem;
}
.login-page-wrap .login-wrap .login-form .title {
  font-size: 0.46rem;
  color: #3E4A59;
  font-weight: bold;
}
.login-page-wrap .login-wrap .login-form .login-input {
  border-bottom: 1px solid #E3E3E3;
  padding: 0.2rem 0;
  height: 0.8rem;
  margin-top: 0.4rem;
}
.login-page-wrap .login-wrap .login-form .login-input:focus {
  border-bottom: 2px solid #182740;
}
.country_wrap {
  position: relative;
}
#country_select {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.check-code-wrap {
  padding: 0.3rem;
  margin-top: 0.5rem;
}
.check-code-wrap .code-title {
  font-size: 0.36rem;
}
.check-code-wrap .code-msg {
  font-size: 0.24rem;
}
